.home--container {
  width: 35%;
  margin: auto;
  text-align: center;
  margin-top: 6rem;
  font-size: 2rem;
}

.preview--container {
  margin-top: 5rem;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  height: 300px;
  width: fit-content;
}

.preview--container > img {
  width: 100%;
}

.login-button {
  margin-top: 3rem;
  padding: 5px 8px;
}

.login {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
